<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>headStr</key>
		<string>单次循环时间</string>
		<key>leftStr</key>
		<string></string>
		<key>cenStr</key>
		<string></string>
		<key>isOpen</key>
		<integer>-1</integer>
		<key>rightStr</key>
		<string>S</string>
		<key>footStr</key>
		<string></string>
	</dict>
	<dict>
		<key>headStr</key>
		<string>电压</string>
		<key>leftStr</key>
		<string></string>
		<key>cenStr</key>
		<string></string>
		<key>isOpen</key>
		<integer>-1</integer>
		<key>rightStr</key>
		<string>V</string>
		<key>footStr</key>
		<string></string>
	</dict>
	<dict>
		<key>headStr</key>
		<string>充电次数</string>
		<key>leftStr</key>
		<string></string>
		<key>cenStr</key>
		<string></string>
		<key>isOpen</key>
		<integer>-1</integer>
		<key>rightStr</key>
		<string>T</string>
		<key>footStr</key>
		<string></string>
	</dict>
	<dict>
		<key>headStr</key>
		<string>充电时间</string>
		<key>leftStr</key>
		<string></string>
		<key>cenStr</key>
		<string></string>
		<key>isOpen</key>
		<integer>-1</integer>
		<key>rightStr</key>
		<string>S</string>
		<key>footStr</key>
		<string></string>
	</dict>
	<dict>
		<key>headStr</key>
		<string>温度</string>
		<key>leftStr</key>
		<string></string>
		<key>cenStr</key>
		<string></string>
		<key>isOpen</key>
		<integer>-1</integer>
		<key>rightStr</key>
		<string>°C</string>
		<key>footStr</key>
		<string></string>
	</dict>
	<dict>
		<key>headStr</key>
		<string>口数</string>
		<key>leftStr</key>
		<string></string>
		<key>cenStr</key>
		<string></string>
		<key>isOpen</key>
		<integer>-1</integer>
		<key>rightStr</key>
		<string>P</string>
		<key>footStr</key>
		<string></string>
	</dict>
	<dict>
		<key>headStr</key>
		<string>震动</string>
		<key>leftStr</key>
		<string>OFF</string>
		<key>cenStr</key>
		<string></string>
		<key>isOpen</key>
		<integer>0</integer>
		<key>rightStr</key>
		<string>ON</string>
		<key>footStr</key>
		<string></string>
	</dict>
	<dict>
		<key>headStr</key>
		<string></string>
		<key>leftStr</key>
		<string></string>
		<key>cenStr</key>
		<string></string>
		<key>isOpen</key>
		<integer>-1</integer>
		<key>rightStr</key>
		<string></string>
		<key>footStr</key>
		<string>账户信息</string>
	</dict>
</array>
</plist>
